body{
    margin:0;
    padding: 0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.429)),url(../img/background3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}